@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

* {
  transition: all .5s ease-in-out;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #13151F;
  color: #FFFFFF;
}

a {
  color: inherit;
  text-decoration: none;
}


.navbar {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.logo-wrapper {
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu {
  width: 100%;
  padding-top: 30px;
}

.nav-menu-item {
  font-weight: 200;
  margin: 0px 1rem;
  cursor: pointer;
  position: relative;
  padding-bottom: 0.5rem;
}

.nav-menu-item:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  right: 0;
  background-color: #FFF;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.nav-menu-item:hover:before {
  visibility: visible;
  width: 100%;
}

.app {
  margin: 20px;
}

.main-video {
  width: 100%;
  height: 30vw;
  overflow: hidden;
  margin-bottom: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 25px;
}

.main-video img {
  width: 100%;
}

.card {
  width: 19.2%;
  height: auto;
  border-radius: 5%;
  margin: 0.4%;
  filter: drop-shadow(5px 5px 10px #000000);
}

.card:hover {
  transform: scale(1.05)
}

.video-image {
  width: 100%;
  position: absolute;
  top: 0;
}

.video-info {
  position: relative;
  margin-top: 30%;
  margin-left: 50px;
  max-width: 50%;
}

.video-overlay {
  position: absolute;
}

.info-footer {
  height: 100vh;
}

.account-info {
  display: flex;
  height: 50%;
  margin: 20px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
}

.franchise {
  width: 20%;
  background-color: #1E2841;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.franchise:hover {
  transform: scale(1.05);
}

.video-feed {
  display: flex;
}