@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
* {
  transition: all 0.5s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 1rem;
  border: none;
  border-radius: 0.25rem;
  height: 3rem;
  padding: 1rem 1.5rem;
  cursor: pointer;
}
button.primary {
  background-color: #0072D2;
  color: #FFFFFF;
  text-transform: uppercase;
}
button.primary:hover {
  background-color: #0082f0;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #13151f;
  color: #FFFFFF;
}

.navbar {
  height: 80px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.navbar .logo-wrapper {
  padding: 10px 30px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .nav-menu {
  width: 100%;
}
.navbar .account-info {
  display: flex;
  height: 50%;
  margin: 0px 30px;
  align-items: center;
}
.navbar .account-info p {
  margin: 0rem;
}
.navbar .account-info .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
}

.nav-menu-item {
  font-size: 13px;
  font-weight: 200;
  margin: 0px 1rem;
  cursor: pointer;
  position: relative;
  padding-bottom: 0.5rem;
}
.nav-menu-item i {
  padding: 0rem 0.5rem;
}

.nav-menu-item:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFFFFF;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.nav-menu-item:hover:before {
  visibility: visible;
  width: 100%;
}

.app {
  margin: 20px;
}

.main-video {
  width: 100%;
  height: 30vw;
  overflow: hidden;
  margin-bottom: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 25px;
}

.main-video img {
  width: 100%;
}

.carousel-container {
  margin-bottom: 50px;
}
.carousel-container .carousel-indicators {
  left: unset;
  margin: 0rem 1rem;
}
.carousel-container .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.carousel-container .carousel-inner {
  width: 100%;
  height: 25vw;
  border-radius: 0.5rem;
}
.carousel-container .carousel-control-prev, .carousel-container .carousel-control-next {
  opacity: 0;
  width: 5%;
}
.carousel-container .carousel-control-prev:hover, .carousel-container .carousel-control-next:hover {
  opacity: 1;
}

.card {
  width: 19.2%;
  height: auto;
  display: inline;
  border-radius: 5%;
  margin: 0.4%;
  filter: drop-shadow(5px 5px 10px #000000);
}

.card:hover {
  transform: scale(1.05);
}

.video-image {
  width: 100%;
  position: absolute;
  top: 0;
}

.video-info {
  position: relative;
  margin-top: 30%;
  margin-left: 50px;
  max-width: 50%;
}

.video-overlay {
  position: absolute;
}

.info-footer {
  height: 100vh;
}

.franchise {
  width: 20%;
  border-width: 3px;
  border: 1px solid rgba(249, 249, 249, 0.1);
  background-image: linear-gradient(#30323e, #1e1f2a);
  box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px, rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.franchise:hover {
  transform: scale(1.05);
}

.video-feed {
  display: flex;
}

/* FOOTER */
#footer {
  background-color: #000000;
  text-align: center;
  padding: 1rem 0rem;
  font-size: small;
  font-weight: 100;
}
#footer div, #footer ul {
  max-width: 500px;
  margin: auto;
}
#footer .disney-footer {
  padding: 1rem 0rem;
}
#footer .disney-footer ul.footer-menu {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
#footer ul.footer-copyright {
  padding: 1rem 0rem;
  border-top: 3px solid #FF0000;
  list-style: none;
}

/* NOT FOUND PAGE */
#notfound {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
#notfound .container {
  width: 50%;
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#notfound h1 {
  font-size: 3rem;
}

/*# sourceMappingURL=globals.css.map */
