@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

// PALETTE

$white : #FFFFFF;
$black : #000000;
$blue : #0072D2;
$lightblue : #0082f0;
$darkblue : #13151f;
$red : #FF0000;

// THEME

* {
  transition: all .5s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 1rem;
  border: none;
  border-radius: .25rem;
  height: 3rem;
  padding: 1rem 1.5rem;
  cursor: pointer;

  &.primary {
    background-color: $blue;
    color: $white;
    text-transform: uppercase;
  }

  &.primary:hover{
    background-color: $lightblue;
  }
}

html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: $darkblue;
  color: $white;
}

// NAVBAR

.navbar {
  height: 80px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  // padding-top: 30px;
  
  .logo-wrapper {
    padding: 10px 30px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-menu {
    width: 100%;
    // padding-top: 30px;
  }

  .account-info {
    display: flex;
    height: 50%;
    margin: 0px 30px;
    align-items: center;
  
    p {
      margin: 0rem;
    }
    
    .avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-left: 10px;
    }
  }
}

.nav-menu-item {
  font-size: 13px;
  font-weight: 200;
  margin: 0px 1rem;
  cursor: pointer;
  position: relative;
  padding-bottom: 0.5rem;

  i {
    padding: 0rem 0.5rem;
  }
}

.nav-menu-item:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $white;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.nav-menu-item:hover:before {
  visibility: visible;
  width: 100%;
}

.app {
  margin: 20px;
}

.main-video {
  width: 100%;
  height: 30vw;
  overflow: hidden;
  margin-bottom: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 25px;
}

.main-video img {
  width: 100%;
}

// CAROUSEL

.carousel-container {
  margin-bottom: 50px;
  
  .carousel-indicators {
    left: unset;
    margin: 0rem 1rem;

    button {
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }
  }
  
  .carousel-inner {
    width: 100%;
    height: 25vw;
    border-radius: 0.5rem;
  }
  
  .carousel-control-prev, .carousel-control-next {
    opacity: 0;
    width: 5%;
  }
  
  .carousel-control-prev:hover, .carousel-control-next:hover {
    opacity: 1;
  }
}

.card {
  width: 19.2%;
  height: auto;
  display: inline;
  border-radius: 5%;
  margin: 0.4%;
  filter: drop-shadow(5px 5px 10px $black);
}

.card:hover {
  transform: scale(1.05)
}

.video-image {
  width: 100%;
  position: absolute;
  top: 0;
}

.video-info {
  position: relative;
  margin-top: 30%;
  margin-left: 50px;
  max-width: 50%;
}

.video-overlay {
  position: absolute;
}

.info-footer {
  height: 100vh;
}

.franchise {
  width: 20%;
  border-width: 3px;
  border: 1px solid rgba(249, 249, 249, 0.1);
  // background-color: #1E2841;
  background-image: linear-gradient(rgb(48, 50, 62), rgb(30, 31, 42));
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px, rgb(0 0 0 / 73%) 0px 16px 10px -10px;;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.franchise:hover {
  transform: scale(1.05);
}

.video-feed {
  display: flex;
}

/* FOOTER */

#footer {
  background-color: $black;
  text-align: center;
  padding: 1rem 0rem;
  font-size: small;
  font-weight: 100;

  div, ul {
    max-width: 500px;
    margin: auto;
  }
  
  .disney-footer{
    padding: 1rem 0rem;
    ul.footer-menu{
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: space-around;
    }
  }

  ul.footer-copyright{
    padding: 1rem 0rem;
    border-top: 3px solid $red;
    list-style: none;
  }
}

/* NOT FOUND PAGE */

#notfound {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  
  .container {
    width: 50%;
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  h1 {
    font-size: 3rem;
  }
}